html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
  cursor: crosshair;
}

canvas {
  background-color: #232;
  position: absolute;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 14px;
}

p {
  font-size: 12px;
}

small {
  font-size: 10px;
}

a {
  color: rgba(150, 255, 150, 0.6);
}

.sans {
  font-family: "Helvetica", "Calibri", "Arial";
  text-align: center;
}

#help {
  position: absolute;
  right: 20px;
  color: rgba(255, 255, 255, 0.6);
  font-family: Monaco, Menlo, Consolas, "Ubuntu Mono", "Courier New", monospace;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 14px;
  margin-top: 20px;
}

#mouse-coord {
  -webkit-user-select: none;
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  font-family: Monaco, Menlo, Consolas, "Ubuntu Mono", "Courier New", monospace;
  margin-left: 20px;
  margin-top: 20px;
  padding-left: 7px;
}

#bubbles {
  position: absolute;
  list-style-type: none;
  margin-top: 50px;
  margin-left: -20px;
}

.bubble {
  -webkit-user-select: none;
  color: rgba(255, 255, 255, 0.6);
  font-family: Monaco, Menlo, Consolas, "Ubuntu Mono", "Courier New", monospace;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 7px;
  margin-bottom: 5px;
}

#canvas {
  z-index: -1;
}

#commandInput {
   position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
}

input[type="text"] {
  height: 60px;
  width: 100%;
  padding: 10px ;
  font-family: Monaco, Menlo, Consolas, "Ubuntu Mono", "Courier New", monospace;
  font-size: 16px;
  color: #222;
  background-color: #f6f6f6;
  border: 1px solid #227;
  vertical-align: middle;
  box-shadow: inset 0px 0 3px rgba(0, 0, 0, 0.80);
}

input[type="text"]:focus {
  border-color: #22B;
  outline: 0;
}
