body {
	font-family: "Open Sans";
}

input[type="text"] {
	height: 40px;
	width: 600px;
	padding: 10px ;
	font-family: "Lucida Console";
	font-size: 16px;
	background-color: #F5F7F7;
	color: #303525;
	border: 1px solid #999;
	vertical-align: middle;
}

input[type="text"]:focus {
	border-color: #999;
	outline: 0;
}